{% extends 'base/base.html' %}

{% block content %}
    <h2>Set up your Upwork Job Search</h2>
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Ok" />
    </form>
{% endblock%}