{% extends 'base/base.html' %}

{% block content %}
    <h2>Job description</h2>

    <p>budget: {{ object.budget }}
    <p>category: {{ object.category }}
    <p>date_created: {{ object.date_created }}
    <p>duration: {{ object.duration }}
    <p>job_id: {{ object.job_id }}
    <p>job_status: {{ object.job_status }}
    <p>job_type: {{ object.job_type }}
    <p>skills: {{ object.skills }}
    <p>snippet: {{ object.snippet }}
    <p>subcategory: {{ object.subcategory }}
    <p>title: {{ object.title }}
    <p>workload: {{ object.workload }}
{% endblock%}