{% extends 'base/base.html' %}

{% block content %}
    <h2>Job list</h2>
    <br><br>
    <ul>
        {% for job in object_list %}
            <li><a href="{% url 'job' job.pk %}">{{ job.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock%}