{% extends 'base/base.html' %}

{% block content %}
    <h2>Your Search:</h2>
    <br><br>
    <p>query: {{ search.query }}</p>
    <p>title: {{ search.title }}</p>
    <p>skills: {{ search.skills }}</p>
{% endblock%}